@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #8758ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    text-align: center;
}

h1 {
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
}

.TaskWrapper {
    background: #1A1A40;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: 5px;
}

.TaskForm {
    width: 100%;
    margin-bottom: 2rem;
}

.task-input,
.task-input-select {
    outline: none;
    background: none;
    border: 1px solid #8758ff;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
    color: #fff;
}

.task-input::placeholder {
    color: #ffffff4d;
}

.task-input-select {
    color: #ffffff4d;
}

.task-input,
.task-input-select:disabled {
    color: #fefefe;
}

.task-input-select option {
    background: #2a2a2a;
    color: #fff;
    padding: 0.5rem;
}

.task-btn {
    display: block;
    margin: 0 auto;
    background: #8758ff;
    color: #fff;
    border: none;
    padding: 0.55rem;
    cursor: pointer;
    margin-bottom: 1rem;
    width: 25%;
    transition: 0.3s;
}

.task-btn:hover {
    background: #6a3ff5;
}

.task-btn-group {
    display: flex;
    justify-content: space-evenly;
}

.btn-remove {
    background: #ff5e5e;
    transition: 0.3s;
}

.btn-remove:hover {
    background: #ff3b3b;
}

.btn-back {
    display: inline-flex;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    transition: 0.3s;
}

.btn-back:hover {
    background: #8758ff
}

.Task {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8758ff;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.task-link {
    text-decoration: none;
    color: inherit;
}